.logo{

  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 255.093px;
  top: 18.693px;
  z-index: 378;
}
.tajam {
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(255, 000, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 295.093px;
  top: 18.693px;
  z-index: 378;
}

.w3-navbar {
  font-size: 13px;
  font-family: "Roboto";
  color: rgb(0, 224, 208);
  line-height: 1.2;
  text-align: right;
  position: absolute;
  left: 743.937px;
  top: 32.7px;
  z-index: 374;
}
